body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../images/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -200px;
}

.movie-btn {
  color: #595a5b;
  background-color: aliceblue;
  text-decoration: none;
  padding: 20px;
  font-size: 2rem;
  border-radius: 40px;
  transition: ease-in-out 0.2s;
}

.movie-btn:hover {
  color: #070707;
  background-color: rgb(2, 244, 18);
  box-shadow: 0 0 40px rgb(2, 244, 18);
}

.title-div {
  background-image: url("/images/cinema.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-right: 40px;
  height: 70vh;
}

.title {
  color: aliceblue;
  font-size: 4rem;
}

.movies-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 40px 20px;
  text-align: center;
}

.single-movie {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.showtimes {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
